@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
:root {
  --color-first: #21142c;
  --color-second: #db5252;
  --color-third: #32a2c5;
  --color-fourth: #392d3b;
  --color-bg: #e4e4e4;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

body {
  background-color: var(--color-bg); }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #000; }

ul {
  list-style: none; }

.t-hero-intro {
  font-size: 12px;
  color: var --color-fourth;
  font-weight: 900;
  letter-spacing: .14rem; }
  @media screen and (min-width: 1200px) {
    .t-hero-intro {
      font-size: 23px;
      letter-spacing: .26rem; } }

.t-hero-title {
  font-size: 55px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 5px; }
  @media screen and (min-width: 1200px) {
    .t-hero-title {
      font-size: 108px; } }

.t-hero-subtitle {
  font-size: 19px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px; }
  @media screen and (min-width: 1200px) {
    .t-hero-subtitle {
      font-size: 40px; } }

.t-offer-title {
  font-size: 36px;
  color: #fff;
  font-weight: 300; }
  @media screen and (min-width: 1200px) {
    .t-offer-title {
      font-size: 108px; } }

.t-offer-price, .t-offer.name {
  color: var(--color-fourth); }

.t-offer-price {
  font-size: 40px;
  font-weight: 700; }

.t-offer-name {
  font-size: 35px;
  font-weight: 300; }

.t-section-title {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px; }
  @media screen and (min-width: 1200px) {
    .t-section-title {
      font-size: 3.75rem; } }
  @media screen and (min-width: 1200px) {
    .t-section-title {
      letter-spacing: 6px; } }

.t-section-subtitle {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media screen and (min-width: 1200px) {
    .t-section-subtitle {
      font-size: 1.7rem;
      letter-spacing: 3px; } }
  @media screen and (min-width: 1600px) {
    .t-section-subtitle {
      font-size: 2rem;
      letter-spacing: 3px; } }

.t-section-subtitle-small {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media screen and (min-width: 1200px) {
    .t-section-subtitle-small {
      font-size: 1.7rem; } }
  @media screen and (min-width: 1200px) {
    .t-section-subtitle-small {
      font-size: 2rem; } }

.t-featured-title {
  font-size: 2rem;
  color: var(--color-fourth);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px; }
  @media screen and (min-width: 1200px) {
    .t-featured-title {
      font-size: 40px; } }

.t-featured-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-fourth);
  text-transform: uppercase; }
  @media screen and (min-width: 1200px) {
    .t-featured-subtitle {
      font-size: 20px; } }

.t-shop-method-title {
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px; }
  @media screen and (min-width: 1200px) {
    .t-shop-method-title {
      font-size: 40px;
      letter-spacing: 4px; } }
  @media screen and (min-width: 1600px) {
    .t-shop-method-title {
      font-size: 45px; } }

.t-shop-method-subtitle {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media screen and (min-width: 1200px) {
    .t-shop-method-subtitle {
      font-size: 21px; } }
  @media screen and (min-width: 1600px) {
    .t-shop-method-subtitle {
      font-size: 26px; } }

.t-shop-method-descrip {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 1.2; }
  @media screen and (min-width: 1200px) {
    .t-shop-method-descrip {
      font-size: 17px;
      line-height: 1.4; } }
  @media screen and (min-width: 1600px) {
    .t-shop-method-descrip {
      font-size: 20px;
      line-height: 1.5; } }

.t-newsletter-title {
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px; }
  @media screen and (min-width: 1200px) {
    .t-newsletter-title {
      font-size: 40px; } }

.t-newsletter-descrip {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.4;
  text-align: center;
  letter-spacing: .5px; }
  @media screen and (min-width: 1200px) {
    .t-newsletter-descrip {
      font-size: 20px; } }

.t-footer {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px; }
  @media screen and (min-width: 1200px) {
    .t-footer {
      font-size: 18px;
      text-align: left; } }

.t-regular {
  font-weight: 400; }

.t-bold {
  font-weight: 700; }

.t-black {
  font-weight: 900; }

.t-dark {
  color: var(--color-fourth); }

.l-container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1; }

.l-section {
  width: 100%; }

.flex {
  display: flex; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--color-fourth);
  cursor: pointer; }

.button--offer {
  font-size: 20px;
  color: #fff;
  transition: all 0.4s ease-in-out; }
  .button--offer:hover {
    background-color: var(--color-first); }

.button--collection-1 {
  background-color: transparent;
  padding: .4rem 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  transition: all 0.4s ease-in-out; }
  .button--collection-1:hover {
    background-color: #fff;
    color: var(--color-third); }
  @media screen and (min-width: 1200px) {
    .button--collection-1 {
      font-size: 25px;
      padding: .6rem 0; } }

.button--collection-1-alt {
  background-color: transparent;
  padding: .4rem 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  transition: all 0.4s ease-in-out; }
  .button--collection-1-alt:hover {
    background-color: #fff;
    color: var(--color-second); }
  @media screen and (min-width: 1200px) {
    .button--collection-1-alt {
      font-size: 25px;
      padding: .6rem 0; } }

.button--collection-2 {
  position: relative;
  justify-content: flex-start;
  background-color: transparent;
  padding: .4rem 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 2px solid #fff; }
  .button--collection-2::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg); }
  .button--collection-2::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 6px;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg); }
  @media screen and (min-width: 1200px) {
    .button--collection-2 {
      font-size: 20px; } }
  @media screen and (min-width: 1600px) {
    .button--collection-2 {
      font-size: 25px; } }

.button--collection-2-dark {
  position: relative;
  justify-content: flex-start;
  background-color: transparent;
  padding: .4rem 0;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--color-fourth);
  border-bottom: 2px solid var(--color-fourth); }
  .button--collection-2-dark::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6px;
    height: 2px;
    background: var(--color-fourth);
    transform: rotate(45deg); }
  .button--collection-2-dark::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 6px;
    height: 2px;
    background: var(--color-fourth);
    transform: rotate(-45deg); }
  @media screen and (min-width: 1200px) {
    .button--collection-2-dark {
      font-size: 20px; } }
  @media screen and (min-width: 1600px) {
    .button--collection-2-dark {
      font-size: 25px; } }

.button--featured {
  background-color: transparent;
  padding: 1rem 0;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-fourth);
  border: 2px solid var(--color-fourth);
  transition: all 0.4s ease-in-out; }
  .button--featured:hover {
    background-color: var(--color-fourth);
    color: #fff; }

.button--newsletter {
  background-color: var(--color-third);
  padding: 1rem 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff; }

.fixed {
  width: 100%;
  height: 3.5rem;
  display: block; }
  @media screen and (min-width: 960px) {
    .fixed {
      display: none; } }

.main-header {
  width: 100%;
  background-image: url(../../src/img/banner-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 0px left 0px;
  position: relative; }

.header-container {
  min-width: 360px;
  height: 300px;
  padding-top: 80px; }
  @media screen and (min-width: 960px) {
    .header-container {
      padding-top: .5rem; } }
  @media screen and (min-width: 1200px) {
    .header-container {
      width: 1150px;
      height: 500px;
      margin: 0 auto;
      padding-top: 1rem; } }
  @media screen and (min-width: 1600px) {
    .header-container {
      width: 1450px;
      height: 792px; } }
  .header-container::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-first);
    opacity: 0.7; }

.mb-main-menu {
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-first);
  padding: 1rem 0.5rem;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: var(--z-fixed); }
  @media screen and (min-width: 960px) {
    .mb-main-menu {
      display: none; } }

.mb-logo {
  color: #fff;
  font-weight: 300;
  border: 2px solid var(--color-third);
  padding: 0.4rem; }

.mb-icons {
  color: #fff;
  justify-content: center;
  height: 1rem;
  font-size: 1rem; }
  .mb-icons i {
    cursor: pointer;
    position: relative; }
  .mb-icons i:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 .7rem;
    margin: 0 0.7rem; }

.shopping-cart-counter {
  position: absolute;
  padding: 0.1rem 0.3rem;
  background-color: var(--color-second);
  border-radius: 50%;
  top: 0;
  right: -0.9rem; }

.mb-burger {
  width: 1.5rem;
  height: 1.1rem;
  background-image: linear-gradient(#fff 15%, transparent 15%, transparent 42.5%, #fff 42.5%, #fff 57.5%, transparent 57.5%, transparent 85%, #fff 85%, #fff 100%);
  cursor: pointer; }

.mb-menu {
  position: fixed;
  z-index: var(--z-fixed);
  width: 80vw;
  height: calc(100vh - 3.5rem);
  top: 3.5rem;
  right: -80vw;
  background-color: #21142c;
  transition: all 0.4s ease-in-out; }
  .mb-menu__list {
    padding: 0 1rem; }
  .mb-menu__item {
    border-bottom: 0.001rem solid #fff; }
  .mb-menu__link {
    width: 100%;
    display: block;
    font-size: 1rem;
    color: #fff;
    padding: .9rem 0;
    text-align: center;
    transition: all 0.4s ease-in-out; }
    .mb-menu__link:hover {
      color: var(--color-third); }

.mb-menu__link:hover {
  background-color: rgba(33, 20, 44, 0.9); }

.mb-menu-active {
  right: 0; }

.main-menu {
  display: none; }

@media screen and (min-width: 960px) {
  .main-menu {
    display: flex;
    position: relative;
    width: 100%;
    padding: 1rem 0.5rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; } }

@media screen and (min-width: 1200px) {
  .main-menu {
    padding: 1rem 0; } }

.menu-logo {
  color: #fff;
  border: 2px solid var(--color-third);
  padding: 0.6rem 1rem;
  font-weight: 300; }
  @media screen and (min-width: 1200px) {
    .menu-logo {
      font-size: 30px;
      border: 3px solid var(--color-third); } }

.menu__link {
  font-size: .75rem;
  font-weight: 700;
  color: #fff;
  padding: 0 .7rem;
  text-align: center;
  letter-spacing: 2px; }
  @media screen and (min-width: 1200px) {
    .menu__link {
      font-size: .85rem;
      padding: 0 1rem; } }
  @media screen and (min-width: 1600px) {
    .menu__link {
      font-size: 1rem;
      margin: 0 1.5rem 0 0; } }

.menu-search {
  border-bottom: 1px solid #fff;
  align-items: center; }
  .menu-search__input {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: .3rem; }
    @media screen and (min-width: 1200px) {
      .menu-search__input {
        padding: .5rem; } }
    .menu-search__input:focus {
      outline: none; }
    .menu-search__input:active {
      outline: none; }
    .menu-search__input::placeholder {
      font-family: 'Roboto', sans-serif;
      font-size: .7rem;
      font-weight: 300;
      color: #fff;
      text-align: left;
      opacity: .8;
      text-transform: uppercase;
      letter-spacing: 2px; }
      @media screen and (min-width: 1200px) {
        .menu-search__input::placeholder {
          font-size: .8rem; } }
      @media screen and (min-width: 1600px) {
        .menu-search__input::placeholder {
          font-size: .9rem; } }
    @media screen and (min-width: 1600px) {
      .menu-search__input {
        width: 274px; } }
  .menu-search__icon {
    color: #fff;
    cursor: pointer; }
    @media screen and (min-width: 1200px) {
      .menu-search__icon {
        font-size: 1.3rem; } }

.menu-icons {
  align-items: center;
  height: auto;
  font-size: 1rem;
  padding-right: 1rem; }
  .menu-icons__user, .menu-icons__cart {
    color: #fff;
    cursor: pointer; }
    @media screen and (min-width: 1200px) {
      .menu-icons__user, .menu-icons__cart {
        font-size: 1.3rem; } }
  .menu-icons__user {
    margin: 0 .7rem;
    padding: 0 .7rem;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff; }
  .menu-icons__cart {
    position: relative; }
    .menu-icons__cart-counter {
      position: absolute;
      padding: 0.1rem 0.3rem;
      background-color: var(--color-second);
      border-radius: 50%;
      top: 0;
      right: -0.9rem; }

.hero-content {
  width: 308px;
  position: relative;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  text-align: center; }
  @media screen and (min-width: 960px) {
    .hero-content {
      margin-top: 40px; } }
  @media screen and (min-width: 1200px) {
    .hero-content {
      margin-top: 90px;
      width: 588px; } }
  @media screen and (min-width: 1600px) {
    .hero-content {
      margin-top: 250px;
      width: 588px; } }
  .hero-content__intro {
    display: block;
    margin-bottom: .5rem; }
  .hero-content__title {
    display: block;
    border-top: 9px solid var(--color-second);
    border-left: 9px solid var(--color-second);
    border-right: 9px solid var(--color-second);
    position: relative; }
    @media screen and (min-width: 1200px) {
      .hero-content__title {
        padding: .5rem 0; } }
    .hero-content__title::before, .hero-content__title::after {
      content: "";
      display: block;
      position: absolute;
      width: 30%;
      height: 9px;
      background-color: var(--color-second); }
    .hero-content__title::before {
      bottom: -9px;
      left: -9px; }
    .hero-content__title::after {
      bottom: -9px;
      right: -9px; }
  .hero-content__subtitle {
    display: block;
    position: relative;
    top: -6px; }
    @media screen and (min-width: 1200px) {
      .hero-content__subtitle {
        top: -18px; } }

.main-newsletter {
  background-image: url(../img/banner-footer.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 312px;
  background-color: red; }
  @media screen and (min-width: 1200px) {
    .main-newsletter {
      height: 550px; } }
  @media screen and (min-width: 1600px) {
    .main-newsletter {
      height: 631px; } }

.newsletter-container {
  min-width: 360px;
  height: 100%;
  padding: 1rem 0; }
  @media screen and (min-width: 1200px) {
    .newsletter-container {
      padding: 6.5rem 0; } }

.newsletter {
  padding: 0 1rem;
  flex-direction: column;
  align-items: center; }
  .newsletter__title {
    margin-bottom: .5rem; }
    @media screen and (min-width: 1200px) {
      .newsletter__title {
        margin-bottom: 1rem; } }
  .newsletter__descrip {
    margin-bottom: .5rem; }
    @media screen and (min-width: 1200px) {
      .newsletter__descrip {
        margin-bottom: 2.7rem; } }

.newsletter-form {
  width: 311px;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 1200px) {
    .newsletter-form {
      width: 540px;
      height: 50px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }
  @media screen and (min-width: 1600px) {
    .newsletter-form {
      width: 596px;
      height: 59px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }
  .newsletter-form__input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    margin-bottom: 1rem;
    padding: .5rem; }
    @media screen and (min-width: 1200px) {
      .newsletter-form__input {
        width: 400px;
        height: 59px;
        margin-bottom: 0;
        font-size: 20px; } }
    @media screen and (min-width: 1600px) {
      .newsletter-form__input {
        width: 456px;
        height: 59px;
        margin-bottom: 0;
        font-size: 20px; } }
    .newsletter-form__input:focus {
      outline: none; }
    .newsletter-form__input:active {
      outline: none; }
    .newsletter-form__input::placeholder {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      text-align: center;
      color: #fff;
      opacity: 1; }
      @media screen and (min-width: 1200px) {
        .newsletter-form__input::placeholder {
          font-size: 18px;
          text-align: left; } }
  .newsletter-form__button {
    width: 88px;
    cursor: pointer; }
    @media screen and (min-width: 1200px) {
      .newsletter-form__button {
        width: 118px; } }

.newsletter-logos {
  width: 100%;
  height: 57px;
  background-image: url(../img/logos.png);
  margin-top: 1.5rem; }
  @media screen and (min-width: 1200px) {
    .newsletter-logos {
      margin-top: 8rem; } }
  @media screen and (min-width: 1600px) {
    .newsletter-logos {
      margin-top: 10rem; } }

.main-footer {
  width: 100%;
  background-color: var(--color-fourth); }

.footer {
  min-width: 360px;
  margin: 0 auto;
  padding: 2rem 1.6rem; }
  @media screen and (min-width: 1200px) {
    .footer {
      height: 190px;
      padding: 2.5rem 1.6rem; } }
  @media screen and (min-width: 1600px) {
    .footer {
      height: 210px;
      padding: 3.5rem 1.6rem; } }

.footer-social {
  justify-content: space-around; }
  @media screen and (min-width: 1200px) {
    .footer-social {
      width: 338px;
      margin: 0 auto; } }

.footer-credits {
  flex-direction: column; }
  @media screen and (min-width: 1200px) {
    .footer-credits {
      flex-direction: row;
      margin: 2.5rem auto; } }
  .footer-credits__copyright {
    margin-top: 2rem; }
  .footer-credits__developers {
    margin-top: 1rem; }
    @media screen and (min-width: 1200px) {
      .footer-credits__developers::before {
        content: "/";
        padding: 0 .3rem; } }
  @media screen and (min-width: 1200px) {
    .footer-credits__developers, .footer-credits__copyright {
      margin-top: 0; } }

.designed-by {
  display: block; }
  @media screen and (min-width: 1200px) {
    .designed-by {
      display: inline; } }

.main-offers {
  width: 100%; }

.top-offers {
  min-width: 360px;
  padding: 1.5rem 0;
  margin: 0 auto; }
  @media screen and (min-width: 640px) {
    .top-offers {
      width: 600px; } }
  @media screen and (min-width: 960px) {
    .top-offers {
      width: 930px; } }
  @media screen and (min-width: 1200px) {
    .top-offers {
      width: 1160px;
      padding: 2.5rem 0; } }
  @media screen and (min-width: 1600px) {
    .top-offers {
      width: 1600px;
      padding: 3rem 0; } }

.offers-title {
  width: 94%;
  display: block;
  padding: .5rem 1rem;
  margin: 0 auto;
  background-color: var(--color-fourth);
  text-align: center; }
  @media screen and (min-width: 640px) {
    .offers-title {
      width: 100%; } }

.products-carousel {
  justify-content: center;
  padding: 1rem 0 0 0; }
  @media screen and (min-width: 1200px) {
    .products-carousel {
      padding: 2.5rem 0 0 0; } }
  .products-carousel__left, .products-carousel__right {
    height: 100%;
    margin-top: 80px;
    font-size: 3rem;
    color: var(--color-fourth); }

.arrow-active {
  opacity: 1;
  cursor: pointer; }

.arrow-desactive {
  opacity: .3;
  cursor: default; }

.products-track {
  width: 286px;
  height: 391px;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 640px) {
    .products-track {
      margin: 0 1rem; } }
  @media screen and (min-width: 960px) {
    .products-track {
      width: calc(286px * 3);
      margin: 0 .5rem; } }
  @media screen and (min-width: 1200px) {
    .products-track {
      width: calc(286px * 3);
      margin: 0 0rem; } }
  @media screen and (min-width: 1600px) {
    .products-track {
      width: calc(286px * 5);
      margin: 0 1rem; } }

.products-slide {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: .7s; }

.product-item {
  width: 286px;
  height: 391px;
  padding: 0 .87rem;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 210px 48px 42px 43px;
  grid-gap: 1rem; }
  .product-item__img {
    display: block;
    width: 258px;
    height: 210px;
    border: 3px solid var(--color-fourth);
    object-fit: cover;
    object-position: 50% 50%; }
  .product-item__price, .product-item__name {
    text-align: center; }

.main-woman {
  min-width: 360px;
  width: 100%; }

.woman-container {
  min-width: 360px;
  height: 290px;
  padding-top: 4.5rem;
  padding-left: 1rem;
  position: relative;
  background-image: url(../img/disenos-mujeres.jpg);
  background-size: cover;
  background-position: 50% 20%; }
  .woman-container::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-third);
    opacity: 0.7; }
  @media screen and (min-width: 1200px) {
    .woman-container {
      width: 1150px;
      height: 470px;
      margin: 0 auto;
      padding-top: 5rem;
      padding-left: 2.5rem;
      background-size: 150%;
      background-position: top 10% left 20%; } }
  @media screen and (min-width: 1600px) {
    .woman-container {
      width: 1600px;
      height: 586px;
      background-image: url(../img/disenos-mujeres.jpg);
      background-size: 123%;
      background-position: top 10% left 5%;
      padding-top: 9rem; } }

.woman-content {
  flex-direction: column;
  width: 300px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .woman-content {
      width: 472px; } }
  .woman-content__title {
    display: block;
    width: 180px;
    margin-bottom: .8rem; }
    @media screen and (min-width: 1200px) {
      .woman-content__title {
        width: 310px; } }
  .woman-content__subtitle {
    display: inline-block;
    margin-bottom: .8rem; }
    .woman-content__subtitle::before {
      content: "-";
      display: inline-block;
      position: relative;
      margin-right: 3px; }
    .woman-content__subtitle::after {
      content: "-";
      display: inline-block;
      position: relative;
      margin-left: 3px; }
  .woman-content__button {
    width: 234px; }
    @media screen and (min-width: 1200px) {
      .woman-content__button {
        width: 100%; } }

.main-others {
  min-width: 360px; }

.others-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto)); }
  @media screen and (min-width: 1200px) {
    .others-container {
      width: 1150px;
      margin: 0 auto;
      grid-template-columns: 700px auto; } }
  @media screen and (min-width: 1600px) {
    .others-container {
      width: 1600px;
      margin: 0 auto;
      grid-template-columns: 1047px auto; } }

.tshirts-container {
  height: 264px;
  position: relative;
  background-image: url(../img/img-camisetas.jpg);
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 7rem;
  padding-left: 1rem; }
  .tshirts-container::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5; }
  @media screen and (min-width: 1200px) {
    .tshirts-container {
      background-size: 125%;
      background-position: top 70% left 50%;
      height: 470px;
      padding-top: 13em; } }
  @media screen and (min-width: 1600px) {
    .tshirts-container {
      background-size: 100%;
      background-position: top 100% left 50%;
      height: 593px;
      padding-top: 17em; } }

.tshirts-content {
  width: 220px;
  position: relative; }
  .tshirts-content__title {
    margin-bottom: .5rem; }
  .tshirts-content__subtitle {
    display: inline-block;
    margin-bottom: .5rem; }
    .tshirts-content__subtitle::before {
      content: "-";
      display: inline-block;
      position: relative;
      margin-right: 3px; }
    .tshirts-content__subtitle::after {
      content: "-";
      display: inline-block;
      position: relative;
      margin-left: 3px; }
    @media screen and (min-width: 1200px) {
      .tshirts-content__subtitle {
        width: 300px;
        margin: .5rem 0 .7rem 0; } }
  .tshirts-content__button {
    width: 145px; }
    @media screen and (min-width: 1200px) {
      .tshirts-content__button {
        width: 240px; } }
    @media screen and (min-width: 1200px) {
      .tshirts-content__button {
        width: 270px; } }

.stripy-container {
  justify-content: flex-end;
  height: 263px;
  position: relative;
  background-image: url(../img/img-stripytops.jpg);
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 2rem;
  padding-right: .6rem; }
  @media screen and (min-width: 1200px) {
    .stripy-container {
      background-size: 100%;
      background-position: top 70% left 50%;
      height: 470px;
      padding-top: 2rem;
      padding-right: 1rem; } }
  @media screen and (min-width: 1600px) {
    .stripy-container {
      background-size: 110%;
      background-position: top 0% left 10%;
      height: 593px;
      padding-right: 1.5rem; } }

.stripy-content {
  flex-direction: column;
  align-items: flex-end;
  width: 220px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .stripy-content {
      width: 420px;
      height: 250px; } }
  .stripy-content__title {
    width: 150px;
    margin-bottom: .5rem;
    text-align: right; }
    @media screen and (min-width: 1200px) {
      .stripy-content__title {
        width: 230px; } }
  .stripy-content__subtitle {
    margin-bottom: .5rem; }
    .stripy-content__subtitle::before {
      content: "-";
      display: inline-block;
      position: relative;
      margin-right: 3px; }
    .stripy-content__subtitle::after {
      content: "-";
      display: inline-block;
      position: relative;
      margin-left: 3px; }
  .stripy-content__button {
    width: 145px; }
    @media screen and (min-width: 1200px) {
      .stripy-content__button {
        width: 200px; } }
    @media screen and (min-width: 1600px) {
      .stripy-content__button {
        width: 228px; } }

.main-men {
  min-width: 360px;
  width: 100%; }

.men-container {
  min-width: 360px;
  height: 290px;
  position: relative;
  background-image: url(../img/disenos-hombres.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  padding-top: 4.5rem;
  padding-right: 1rem; }
  .men-container::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-second);
    opacity: 0.5; }
  @media screen and (min-width: 1200px) {
    .men-container {
      width: 1150px;
      height: 470px;
      margin: 0 auto;
      padding-top: 5rem;
      padding-right: 2.5rem;
      background-size: 110%;
      background-position: top 10% left 80%; } }
  @media screen and (min-width: 1600px) {
    .men-container {
      width: 1600px;
      height: 586px;
      background-image: url(../img/disenos-hombres.jpg);
      background-size: 100%;
      background-position: top 0 left 0;
      padding-top: 9rem; } }

.men-content {
  float: right;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .men-content {
      width: 472px; } }
  .men-content__title {
    display: block;
    width: 180px;
    margin-bottom: .8rem;
    text-align: right; }
    @media screen and (min-width: 1200px) {
      .men-content__title {
        width: 350px; } }
  .men-content__subtitle {
    display: inline-block;
    margin-bottom: .8rem; }
    .men-content__subtitle::before {
      content: "-";
      display: inline-block;
      position: relative;
      margin-right: 3px; }
    .men-content__subtitle::after {
      content: "-";
      display: inline-block;
      position: relative;
      margin-left: 3px; }
  .men-content__button {
    width: 234px; }
    @media screen and (min-width: 1200px) {
      .men-content__button {
        width: 100%; } }

.main-featured {
  min-width: 360px;
  width: 100%; }

.featured-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  grid-gap: 2rem;
  min-width: 360px;
  padding: 3rem 0; }
  @media screen and (min-width: 1200px) {
    .featured-content {
      grid-gap: 0;
      padding: 3rem 2rem; } }
  @media screen and (min-width: 1600px) {
    .featured-content {
      width: 1600px;
      margin: 0 auto;
      grid-gap: 0;
      padding: 3rem 8rem; } }

.featured__img {
  display: block;
  width: 288px;
  height: 242px;
  border: 3px solid var(--color-fourth);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem; }

.featured__title {
  display: block;
  text-align: center;
  margin-bottom: .5rem; }

.featured__subtitle {
  display: block;
  text-align: center;
  margin-bottom: .5rem; }

.featured__button {
  width: 288px;
  display: block;
  margin: 0 auto; }

.main-shop-method {
  width: 100%; }

.shop-method-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto)); }
  @media screen and (min-width: 1200px) {
    .shop-method-content {
      width: 1050px;
      margin: 0 auto;
      grid-gap: 2rem;
      padding-top: 1rem;
      padding-bottom: 4rem;
      grid-template-columns: repeat(2, calc((1050px - 2rem) / 2)); } }
  @media screen and (min-width: 1600px) {
    .shop-method-content {
      width: 1200px;
      grid-template-columns: repeat(2, calc((1200px - 2rem) / 2)); } }

.free-shop {
  flex-direction: column;
  align-items: center;
  background-color: var(--color-third);
  padding: 1.5rem; }
  @media screen and (min-width: 1200px) {
    .free-shop {
      height: 320px; } }
  @media screen and (min-width: 1600px) {
    .free-shop {
      height: 395px; } }
  .free-shop__title {
    text-align: center;
    margin-bottom: 1rem; }
  .free-shop__subtitle {
    margin-bottom: 1rem; }
    .free-shop__subtitle::before {
      content: "-";
      display: inline-block;
      position: relative;
      margin-right: 3px; }
    .free-shop__subtitle::after {
      content: "-";
      display: inline-block;
      position: relative;
      margin-left: 3px; }
    @media screen and (min-width: 1600px) {
      .free-shop__subtitle {
        margin-bottom: 1.5rem; } }

.free-shop-content {
  justify-content: space-between;
  max-width: 400px; }
  @media screen and (min-width: 1600px) {
    .free-shop-content {
      max-width: 480px; } }
  .free-shop-content__descrip {
    display: block;
    width: 60%; }
  .free-shop-content__icon {
    width: auto;
    font-size: 4.5rem;
    color: #fff;
    text-align: right;
    margin: auto 0 auto .5rem; }
    @media screen and (min-width: 1200px) {
      .free-shop-content__icon {
        font-size: 6rem; } }
    @media screen and (min-width: 1600px) {
      .free-shop-content__icon {
        font-size: 7rem; } }

.credits-shop {
  flex-direction: column;
  align-items: center;
  background-color: var(--color-second);
  padding: 1.5rem; }
  .credits-shop__title {
    margin-bottom: 1rem;
    text-align: center; }
    @media screen and (min-width: 1200px) {
      .credits-shop__title {
        width: 350px; } }
    @media screen and (min-width: 1200px) {
      .credits-shop__title {
        width: 400px; } }
  .credits-shop__subtitle {
    text-align: center;
    margin-bottom: 1.7rem; }
    .credits-shop__subtitle::before {
      content: "-";
      display: inline-block;
      position: relative;
      margin-right: 3px; }
    .credits-shop__subtitle::after {
      content: "-";
      display: inline-block;
      position: relative;
      margin-left: 3px; }
    @media screen and (min-width: 1600px) {
      .credits-shop__subtitle {
        margin-bottom: 2.5rem; } }
  .credits-shop__icon {
    display: block;
    font-size: 4.5rem;
    color: #fff; }
    @media screen and (min-width: 1200px) {
      .credits-shop__icon {
        font-size: 6rem; } }
    @media screen and (min-width: 1600px) {
      .credits-shop__icon {
        font-size: 7rem; } }
