@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
:root {
  --color-first: #21142c;
  --color-second: #db5252;
  --color-third: #32a2c5;
  --color-fourth: #392d3b;
  --color-bg: #e4e4e4;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

.strong {
  font-weight: 500; }

.t-hero-intro {
  font-size: 12px;
  color: var --color-fourth;
  font-weight: 900;
  letter-spacing: 1.5px; }

.t-hero-title {
  font-size: 55px;
  color: #fff;
  font-weight: 900; }

.t-hero-subtitle {
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #000; }

ul {
  list-style: none; }

.l-container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1; }

.l-section {
  width: 100%; }

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 33.3%); }

.flex {
  display: flex; }

.mb-main-menu {
  background-color: var(--color-first);
  padding: 1rem 0.5rem;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.mb-logo {
  color: #fff;
  border: 2px solid var(--color-third);
  padding: 0.4rem; }

.mb-icons {
  color: #fff;
  justify-content: center;
  height: 1rem;
  font-size: 1rem; }
  .mb-icons i {
    cursor: pointer;
    position: relative; }
  .mb-icons i:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 .7rem;
    margin: 0 0.7rem; }

.shopping-cart-counter {
  position: absolute;
  padding: 0.1rem 0.3rem;
  background-color: var(--color-second);
  border-radius: 50%;
  top: 0;
  right: -0.9rem; }

.mb-burger {
  width: 1.5rem;
  height: 1.1rem;
  background-image: linear-gradient(#fff 15%, transparent 15%, transparent 42.5%, #fff 42.5%, #fff 57.5%, transparent 57.5%, transparent 85%, #fff 85%, #fff 100%);
  cursor: pointer; }

.mb-menu {
  display: none;
  z-index: var(--z-fixed);
  position: absolute;
  width: 100vw;
  top: 100%;
  left: 0;
  background-color: rgba(33, 20, 44, 0.9); }
  .mb-menu__item {
    border-bottom: 2px solid var(--color-first); }
  .mb-menu__link {
    width: 100%;
    display: block;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    transition: all 0.2s ease-in-out; }

.mb-menu__link:hover {
  background-color: rgba(33, 20, 44, 0.9); }

.mb-menu-active {
  display: block; }

.main-hero {
  height: 300px;
  background-image: url(../../src/img/banner-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: red;
  background-position: top 0px left 0px;
  position: relative; }
  .main-hero::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-first);
    opacity: .7; }

.main-menu {
  display: none; }

.hero-content {
  width: 308px;
  position: relative;
  color: #fff;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  text-align: center; }
  .hero-content__intro {
    display: inline-block;
    margin-bottom: .5rem; }
  .hero-content__title {
    display: inline-block;
    border-top: 9px solid var(--color-second);
    border-left: 9px solid var(--color-second);
    border-right: 9px solid var(--color-second);
    padding: .3rem 2.3rem;
    position: relative; }
    .hero-content__title::before, .hero-content__title::after {
      content: "";
      display: block;
      position: absolute;
      width: 30%;
      height: 9px;
      background-color: var(--color-second); }
    .hero-content__title::before {
      bottom: -9px;
      left: -9px; }
    .hero-content__title::after {
      bottom: -9px;
      right: -9px; }
  .hero-content__subtitle {
    display: block;
    position: relative;
    top: -6px; }
