.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem 0;
    background-color: var(--color-fourth);
    cursor:pointer;
}

.button--offer{
    font-size: 20px;
    color: #fff;
    @include animationInOut;

    &:hover{
        background-color: var(--color-first);
    }
}

.button--collection-1{
    @include buttonCollection(var(--color-third));

    @include from(l){
        font-size: 25px;
        padding: .6rem 0;
    }
}

.button--collection-1-alt{
    @include buttonCollection(var(--color-second));

    @include from(l){
        font-size: 25px;
        padding: .6rem 0;
    }
}

.button--collection-2{
    @include buttonCollection2(#fff);

    @include from(l){
        font-size: 20px;
    }

    @include from(xl){
        font-size: 25px;
    }
}

.button--collection-2-dark{
    @include buttonCollection2(var(--color-fourth))
    @include from(l){
        font-size: 20px;
    }

    @include from(xl){
        font-size: 25px;
    }
}

.button--featured{
    background-color: transparent;
    padding: 1rem 0;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-fourth);
    border: 2px solid var(--color-fourth);
    @include animationInOut;

    &:hover{
        background-color: var(--color-fourth);
        color: #fff;
    }
}

.button--newsletter{
    background-color: var(--color-third);
    padding: 1rem 0;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
}