.l-container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.l-section{
  width: 100%;
}

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
}

.flex {
  display: flex;
}
