// MAIN HERO
.t-hero-intro{
  font-size: 12px;
  color: var (--color-fourth);
  font-weight: 900;
  letter-spacing: 1.5px;
}

.t-hero-title{
  font-size: 55px;
  color: #fff;
  font-weight: 900;
}

.t-hero-subtitle{
  font-size: 19px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
}
// END MAIN HERO /////////////////////////

// OFFERS
.t-offer-title{
  font-size: 36px;
  color: #fff;
  font-weight: 300;
}

.t-offer-price, .t-offer.name{
  color: var(--color-fourth);
}

.t-offer-price{
  font-size: 40px;
  font-weight: 700;
}

.t-offer-name{
  font-size: 35px;
  font-weight: 300;
}
// END OFFERS /////////////////////////

// SECTIONS
.t-section-title{
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}

.t-section-subtitle{
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.t-section-subtitle-small{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.t-shop-method-title{
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.t-shop-method-subtitle{
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.t-shop-method-descrip{
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 1.4;
}

.t-newsletter-title{
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.t-newsletter-descrip{
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.4;
  text-align: center;
  letter-spacing: .5px;
}

// FOOTER
.t-footer{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
}
// END FOOTER /////////////////////////


// GENERAL
.t-regular{
  font-weight: 400;
}
.t-bold {
  font-weight: 500;
}
.t-black {
  font-weight: 900;
}
// END GENERAL /////////////////////////

.t-dark{
  color: var(--color-fourth);
}